<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211304989250-8adpugogdbbt60hklgsnfee70vd1ehv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211304989250-8adpugogdbbt60hklgsnfee70vd1ehv2</string>
	<key>API_KEY</key>
	<string>AIzaSyBPxHu0KFyfZ-ZRrcFu-24FTflAPdQnPag</string>
	<key>GCM_SENDER_ID</key>
	<string>211304989250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dedodev.Vcare</string>
	<key>PROJECT_ID</key>
	<string>vcare-8b199</string>
	<key>STORAGE_BUCKET</key>
	<string>vcare-8b199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:211304989250:ios:b33ef906775a7561</string>
	<key>DATABASE_URL</key>
	<string>https://vcare-8b199.firebaseio.com</string>
</dict>
</plist>
